[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "soloud"]
	path = soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
