[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "soloud"]
	path = libs/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "nativefiledialog"]
	path = libs/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "stb-cmake"]
	path = libs/stb-cmake
	url = https://github.com/jschmidt42/stb-cmake.git
[submodule "luacpp"]
	path = libs/luacpp
	url = https://github.com/jordanvrtanoski/luacpp.git
