[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt.git
